.copyright_text{
	text-align: center;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #000;
  margin-bottom: 200px;
}
.d-block{
  opacity: 0.9;
}
.ru_en_button{
  display: flex;
  justify-content: flex-end;
}
.card{
  margin: 0 10px;
}
.p-5{
  overflow: auto;
}
.img_card{
  display: flex;
  align-content: center;
  padding: 5px;
}
a.my_block:active, 
a.my_block:hover,  
a.my_block {
  color: #000;
}