* {
    margin: 0;
    padding: 0;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.paragrh{
    max-width: 425px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    text-align: left;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;

}
.ph {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.ph_contact {
    font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.6;
	margin-top: 24px;
	max-width: 299px;
}
.top_button{
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 15px 50px;
    margin-top: 71px;
    margin-bottom: 190px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}
.mine_ph {
    font-size: 16px;
    line-height: 26px;
    max-width: 75%;
    margin: 32px auto 64px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    opacity: 1;
}
.title {
    font-size: 64px;
    max-width: 504px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.title2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin-top: 54px;
}
.paragr_contacts{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 16px;
	padding: 0 150px;
}
.title3 {
    font-size: 36px;
    text-align: center;
    max-width: 1137px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.title4 {
	margin-top: 54px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    font-weight: 500;
	letter-spacing: 0.04em;
}
.title_form{
	margin-top: 54px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    font-weight: 500;
	letter-spacing: 0.04em;.
}
.form {
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;

	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 23px 183px;
	margin-bottom: 56px;

  	border: 0;
}
.maps{
	margin: 0 auto; 
}
.header {
	flex-grow: 1;
}
.back_gradient{
	background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.header_content {
	
}
.header_menu {
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}
.header_text {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/background-top-right.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.top_content_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mine_header{
    padding-top: 64px;
}
.mine_content {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 -16px;
}
.mine_content div:nth-child(1) {

}
.mine_content_item {
    width: 359px;
    margin: 0 16px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.item_img{
    align-self: center;
    margin-bottom: 51px;
}
.items{
    display: flex;
    flex-direction: row;
}
.item_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-bottom: : 44px;
}
.item_arrow{
    align-self: center;
    background-image: url(img/item-arrow.svg);
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-bottom: : 44px;
}
.text {
    text-align: center;
    padding-bottom: 10px;
}
.text_parrent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.text_item{
    position: relative;
    flex-grow: 1;
}
.text_item_margin{
    margin-right: 32px;
}
.text_text1{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.text_text2{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.text_text3{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.text_img{
    width: 100%;
}
.footer {
    background: #316099;
    margin-top: 112px;
}
.footer_top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text {
    max-width: 495px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_title3{
    font-size: 36px;
    text-align: left;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 91px;
}
.ph_footer{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
}
.footer_button{
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 76px;
    height: 26px;
    margin-top: 165px;
    margin-right: 114px;
    text-align: center;
}
hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-top: 96px;
}
.footer_contact{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 64px;
    list-style-type: none;
}
.footer_list:first-child::before{
    content: 'A. ';
    display: block;
    margin-right: 16px;
}
.footer_list:nth-child(2)::before{
    content: 'T. ';
    display: block;
    margin-right: 16px;
}
.footer_list:last-child::before{
    content: 'E. ';
    display: block;
    margin-right: 16px;
}
.footer_list{
    margin-right: 16px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}
.copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
    padding-bottom: 64px;
}
.contact {
    text-align: center;
    padding-bottom: 20px;
}
.formblock {
	margin: 0 auto;
    width: 100%; 
	flex-grow: 1;
    background-image: url(img/background-contacts.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.formblock_form {
	margin: 100px 10% 0 10%;
    display: flex;
    justify-content: space-around;
}
.form_contact{
	margin-top: 24px;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}
.tel_contact{
	display: flex;
	align-content: center;
	margin-bottom: 16px;
}
.my_site{
	text-decoration: none;
}
.contact_center{
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}
.formular{
	max-width: 540px;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	display: flex;
	justify-content: left;
	padding: 0 56px 0 56px;
	box-sizing: border-box;
}
.form_text {

    float: left;
    margin-right: 50px;
    margin-left: 30px;
}
.contacts_img{
	margin-top: 50px;
}
.cont_name{
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
	margin-bottom: 112px;
}
.inputbox_message{
	width: 428px;
	height: 144px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	padding-left: 36px;
	padding-top: 21px;
}
.inputbox{
	position: absolute;
	width: 428px;
	height: 72px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 70px;
	padding-left: 42px;
}
@media (max-width: 667px){
	.maps{
	width: 100%;
	margin: 0;
}
	.header_content{
		background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
	}
	.header_menu{
		padding-top: 20px;
		margin: 0 21px;
		justify-content: space-between;
	}
	.header_text{
		width: 100%;
		background: none;
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.formblock {
		width: 100%;
	}
	.title{
		width: 80%;
	    text-align: center;
	    padding-top: 36px;
	    font-weight: 300;
		font-size: 32px;
		line-height: 37px;
	}
	.paragrh{
		width: 90%;
	    font-size: 16px;
		line-height: 26px;
		text-align: center;
		padding-top: 12px;
	}
	.top_button{
	    font-size: 12px;
	    line-height: 26px;
	    text-align: center;
	    letter-spacing: 0.04em;
	    padding: 0px 8px;
	    margin-top: 32px;
	    margin-bottom: 41px;

	}
	.title3{
		margin-top: 30px;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		padding: 0 17px;
	}
	.mine_content{
		margin: 32px 0 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.mine_content_item {
	    max-width: 334px;
	    margin: 16px 20px;
	}
	.items{
		margin: 20px 0 31px 0;
	}
	.mine_ph{
		max-width: 100%;
		padding: 0;
		font-size: 16px;
		line-height: 26px;
		margin: 32px 17px 66px 15px;
		align-items: center;
	}
	.text_item{
		margin: 16px 15px 0 15px; 
	}
	.text_text1{
		width: 90%;
		top: 16px;
		right: 16px;
		font-size: 16px;
		line-height: 19px;
		text-align: right;
	}
	.text_parrent{
		width: 100%;
		margin-top: 16px;
		justify-content: none;
		flex-wrap: wrap;
	}
	.text_item_margin{
		width: 100%;
    	margin: 0px 15px 0 15px; 
	}
	.text_text2{
		width: 90%;
		top: 26px;
		left: 16px;
		font-size: 16px;
		line-height: 19px;
		text-align: left;
	}
	.text_text3{
		width: 90%;
		top: 26px;
		left: 16px;
		font-size: 16px;
		line-height: 19px;
		text-align: left;
	}
	.footer{
		margin-top: 63px;
	}
	.footer_top{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
	}
	.footer_text{
	}
	.footer_title3{
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin: 18px 20px;

	}
	.ph_footer{
		font-size: 16px;
		line-height: 26px;
		margin: 32px;
		padding: 16px;
		text-align: center;
	}
	.footer_button{
		font-size: 16px;
		line-height: 26px;
		display: flex;
		align-items: center;
		text-align: center;
		margin: 0;
		margin-top: 30px;
		padding: 10px 20px 10px 30px;
	}
	.footer_contact{
		width: 100%;
		flex-direction: column;
		font-size: 16px;
		line-height: 19px;
		margin-top: 32px;
	}
	hr{
		margin-top: 41px;
	}
	.footer_list{
		margin: 17px 15px 17px 15px;
	}
	.copyright{
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		margin: 15px 15px 0px 15px;
		padding-bottom: 32px;
	}
	.formblock_form{
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 114px;
		padding-top: 0px;
	}
	.header_content{
		background: none;
	}
	.title2{
		font-size: 24px;
		line-height: 28px;
		text-align: center;
	}
	.paragr_contacts{
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		margin-top: 15px;
		padding: 0 32px;
	}
	.formular{
		max-width: 342px;
		padding-left: 35px;
		margin-top: 32px;
	}
	.title_form{
		font-size: 16px;
		line-height: 30px;
	}
	.cont_name{
		font-size: 14px;
	}
	.inputbox{
		width: 271px;
		height: 46px;
	}
	.inputbox_message{
		width: 271px;
		height: 92px;
	}
	.button{
		padding: 15px 60px;
		margin-bottom: 67px;
		margin-left: 35px;
	}
	.maps{
		width: 100%;
	}
}
@media (min-width: 667px) and (max-width: 1024px){
	.maps{
		width: 100%;
		margin: 0;
	}
	.header_content{
		background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
	}
	.header_menu{
		padding-top: 52px;
		margin: 0 33px;
	}
	.header_text{
	    background-position: right bottom;
	    background-size: 60%;
	    padding-top: 0;
	    margin-left: 32px;
	    margin-right: 16px;
	}
	.title{
		padding-top: 120px;
	}
	.title2{
		margin-top: 20px;
	}
	.paragr_contacts{
		margin-top: 32px;
	}
	.paragrh{
		padding-top: 32px;
	}
	.top_button{
		margin-bottom: 190px;
	}
	.title3{
		margin-top: 0px;
		padding: 0 32px;
	}
	.mine_content{
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.mine_content_item {
	    max-width:; 334px;
	    margin: 16px 20px;
	}
	.items{
		margin: 20px 0 31px 0;
	}
	.text{
		margin-top: 127px;
	}
	.text_item{
		margin: 0 28px 0 35px;
	}
	.text_item_margin{
    	margin: 0;
    	margin-left: 32px;
    }
	.footer_top{
		padding-bottom: 0;
	}
	.footer_title3{
		margin: 47px 0 0 124px;
	}
	.ph_footer{
		margin: 32px 0 0 124px;

	}
	.footer_button{
		margin-top: 161px;
		margin-right: 50px;
		padding: 10px 20px 10px 20px;

	}
	.footer_contact{
		flex-direction: column;
		margin-top: 64px;
	}
	hr{
		margin-top: 64px;
	}
	.footer_list{
		margin: 17px 15px 17px 184px;

	}
	.copyright{
		margin: 15px 15px 0px 184px;
		padding-bottom: 64px;
	}
	.formblock_form{
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 114px;
		padding-top: 0px;
	}
	.header_content{
		background: none;
	}

