@import url("https://fonts.googleapis.com/css?family=Inter:400'");
$font: "Inter", sans-serif;

html {
  overflow: hidden;
}
.middle {
  width: 100%;
  text-align: center;
  h1 {
    font-family: $font;
    margin-bottom: 50px;
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        opacity: 1;
        filter: none;
        span {
          vertical-align: top;
          color: rgb(248, 123, 6);
          &:before {
            opacity: 1;
            vertical-align: top;
          }
        }
      }
    }
  }
  .box {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    filter: grayscale(100%);
    position: relative;
    font-family: $font;
    font-weight: 900;
    &:active {
      transform: translateY(10px);
    }
    span {
      position: absolute;
      transform: translate(0, -30px);
      left: 0;
      right: 0;
      transition: all 300ms ease;
      font-size: 1.5em;
      user-select: none;
      opacity: 1;
      &:before {
        font-size: 1.2em;
        font-family: FontAwesome;
        display: block;
        opacity: 0;
        font-weight: normal;
        color: white;
      }
    }
  }
  p {
    opacity: 0.5;
    font-family: $font;
    font-weight: 400;
    a {
      text-decoration: underline;
      font-weight: bold;
      color: white;
    }
  }
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme-box {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
}
.square-box {
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
}
.btn-start, .return {
    font-family: $font;
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: rgb(70, 152, 219);
    border: 2px solid rgb(70, 152, 219);
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    &:hover {
        background-color: rgb(70, 152, 219);
        color: #fff;
        border-bottom: 4px solid darken(rgb(70, 152, 219), 10%);
        &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: all 0.5s ease-in-out;
        }
    }
}
.hide {
    display: none;
}
.cardsList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.winnerCard {
    opacity: 0.5;
    transform: scale(0.5);
    transition: 1.2s;
}
.modal {
    display: none;
    background: #337AB7;
    background-image: url('../img/salut.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 10%;
    opacity: 0.7;
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -250px;
    top: 75px;
    z-index: 99999;
}
.modal_vis {
    display: block;            
}
.body_block {
    overflow: hidden;
    margin-right: 17px;
}
#close_modal {
    color: #BFE2FF;
    font-size: 40px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: 4px solid #BFE2FF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
}
#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}
.modal_txt {
    text-align: center;
    display: block;
    font-size: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background: #FFF;
    padding: 30px;
    margin: 150px auto;
    width: 80%;
}
