* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    margin: 0 auto;
    padding: 32px 72px 0 72px;
}

hr {
    border: 1px solid #484848;
}

/* --HEADER-- */

.head-container {
    background: url(./img/black-luxury-sport-sedan-car-standing-race-trace.png);
    background-position: center;
    background-size: cover;
    min-height: 580px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

.navigation {
    display: flex;
    height: 22px;
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.navigation li {
    padding-right: 32px;
    list-style: none;
}

.navigation li:last-child {
    padding-right: 0;
}

.head-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
}

.registration-block {
    min-height: 381px;
    width: 460px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.head-title h1 {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 43px;
}

.head-title {
    padding-right: 50px;
}

.title-green {
    color: #2DCA73;
}

.title-weight {
    font-weight: 400;
}

.form-material {
    padding: 32px 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-control {
    box-sizing: border-box;
    height: 42px;
    width: 396px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    background-color: #FEFEFE;
    margin: 8px 0 8px 0;
    padding-left: 15px;
}

.input-title {
    color: #1C1F39;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.25px;
    line-height: 22px;
}

.input-btn {
    border-radius: 4px;
    height: 42px;
    background: linear-gradient(135deg, #7267E7 0%, #6259EF 49.12%, #4E45EE 100%);
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.28px;
    line-height: 24px;
    margin-top: 13px;
    border: none;
    cursor: pointer;
}

.registation-pass {
    color: #5E79FF;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.22px;
    line-height: 19px;
    float: right;
}

.registration-text {
    color: #1C1F39;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.22px;
    line-height: 19px;
    text-align: center;
}

.registration-link-btn {
    color: #5E79FF;
}

.error-login,
.error-pass {
    display: none;
    align-items: center;
    color: #FF5E5E;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}

.active-error {
    display: flex;
}

/* --MAIN FEATURES-- */

.main-title {
    color: #212524;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.5px;
    line-height: 43px;
    text-align: center;
    margin: 73px 0 42px 0;
}

.main-block,
.main-block-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.main-block-text {
    margin-left: 25px;
    margin-top: -30px;
    width: 500px;
}

.main-block-text p {
    padding-top: 20px;
    color: #5E5E5E;
    font-family: "Nunito Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.subscription-block {
    width: 800px;
    margin: 0 auto;
}

.pages-block {
    display: none;
}

.main-content-active {
    display: block !important;
}

.pages-block-active {
    display: block !important;
}

.main-img-double {
    display: flex;
}

.img-mobile-first {
    padding-bottom: 50px;
}

.img-mobile-two {
    padding-top: 50px;
}

.main-block-vertical {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 68px;
    text-align: center;
}

.main-block-vertical .main-block-text {
    margin: 0;
    width: 100%;
}

.main-block-vertical .main-block-text p {
    width: 700px;
    margin: 0 auto;
}

.main-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 54px;
}

.subscription-input {
    width: 100%;
    background-color: rgb(240, 239, 239);
    border: 1px solid lightgray;
}

.input-title span {
    color: red;
}

.subscription-btn {
    width: 150px;
}

/* --FOOTER-- */

footer {
    height: 392px;
    background-color: #06070F;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 49px 0;
}

.footer-block-right,
.footer-block-left {
    width: 50%;
}

.footer-block h4 {
    color: #5E5E5E;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 25px;
}

.about-block-text {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    width: 368px;
}

.footer-block-right {
    display: flex;
    justify-content: flex-end;
}

.footer-block-navigation,
.footer-block-contacts {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.28px;
    line-height: 24px;
    list-style: none;
}

.footer-block-navigation {
    width: 45%;
    padding-right: 20px;
}

.footer-block ul {
    list-style: none;
}

.footer-block ul li {
    white-space: nowrap;
    padding-bottom: 12px;
}

.copyright-text {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.28px;
    line-height: 24px;
    margin-top: 30px;
}

@media screen and (max-width: 1328px) {
    .pricing-table-title {
        height: 70px !important;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        padding: 20px 40px 0 40px;
    }

    .head-title {
        padding-right: 20px;
    }

    .head-title h1 {
        font-size: 25px;
    }

    .head-block {
        padding-top: 30px;
    }

    .main-block {
        flex-direction: column;
    }

    .main-block-reverse {
        flex-direction: column-reverse;
    }

    .main-block-text {
        text-align: center;
    }

    .main-block-vertical {
        flex-direction: column-reverse;
    }

    .main-block-vertical .main-block-text p {
        width: 500px;
    }

    .main-keep-me-posted-block {
        padding: 0 50px;
    }

    footer {
        height: auto;
    }

    .footer-block-left {
        width: 50%;
        padding-right: 40px;
    }

    .footer-block-right {
        flex-direction: column;
        width: 50%;
    }

    .about-block-text {
        width: 100%;
    }

    .footer-block-navigation {
        width: auto;
    }

    .copyright-text {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 865px) {
    .subscription-block {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-bottom: 20px;
    }

    .head-block {
        padding-top: 20px;
        flex-direction: column;
    }

    .head-title {
        padding: 0;
    }

    .head-title h1 {
        text-align: center;
        font-size: 20px;
    }

    .main-block-reverse div img,
    .main-block div img,
    .main-img img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .main-img-double {
        display: none;
    }

    .main-block-vertical .main-block-text p,
    .main-block-text {
        width: 90%;
    }

    .main-block-text {
        margin-left: 0;
    }

    .footer-container {
        flex-direction: column;
        margin: 0;
    }

    .footer-block-left,
    .footer-block-right {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .footer-block {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-block-navigation nav {
        justify-content: center;
    }

    .copyright-text {
        text-align: center;
    }

    .subscription-block {
        width: 450px;
    }
}

@media screen and (max-width: 576px) {
    .head-menu {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 50px;
    }

    .head-title {
        display: none;
    }

    .registration-block {
        width: 100%;
        margin-top: 20px;
    }

    .form-control {
        max-width: 100%;
    }

    .main-block-tabs {
        flex-direction: column;
        height: 150px;
        width: 150px;
    }

    .main-register-link-block {
        align-items: center;
    }

    .main-register-link-block h4 {
        width: 90%;
    }

    .main-block-reverse div img,
    .main-block div img,
    .main-img img {
        display: none;
    }

    .main-img,
    .main-img-double {
        display: none;
    }

    .subscription-block {
        width: 80%;
    }
}