* {
	margin: 0;
	padding: 0;
}

@import url ('https://fonts.googleapis.com/css2? family = Redressed & display = swap');

a {
	color: #000;
	text-decoration: none;
}

.link__logo {
	display: flex;
}

.link__logo_heder {
	color: seagreen;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.container__header {
	height: 210px;
	background-color: rgba(233, 185, 144, 0.904);
	display: flex;
	justify-content: space-between;
}

.kraken {
	width: 70px;
	height: 70px;
}

.logo__head {
	display: flex;
	align-items: center;
	margin-left: 40px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

.menu__head {
	display: flex;
	list-style-type: none;
	margin-right: 20px;
	margin-top: 60px;
}

.menu-list__head {
	margin-right: 200px;
}

.menu__head_style {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	z-index: 2;
}

.content {
	display: flex;
}

.block {
	height: 85px;
	width: 150px;
	transition: all 1s;
	position: absolute;
	background-color: seagreen;
}

.content:hover .block__rotate60 {
	transform: rotate(60deg);
}

.content:hover .block__rotate-60 {
	transform: rotate(-60deg);
}

.content:hover .block {
	background-color: sienna;
}

.content:hover .block .text__block {
	opacity: 1;
	transition: opacity 2s;
}

.text__block {
	display: flex;
	justify-content: center;
	height: 100%;
	background-image: url(img/icons-octopus.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.text__block_style {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.container_main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.main-title {
	font-size: 50px;
	font-family: 'Redressed', sans-serif;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.collage {
	width: 90%;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main-block {
	width: 40%;
}

.main-block__position {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.main-block__position_style {
	border: 2px rgba(233, 185, 144, 0.904) solid;
	font-size: 16px;
	font-weight: 300;
	transition: all 0.5s;
}

.main-block__position_style:hover {
	transform: scale(1.05);
}

.main-text {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	line-height: 30px;
	margin-bottom: 100px;
}

.button-2 {
	text-decoration: none;
	position: relative;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	font-family: monospace;
	font-size: 16px;
	color: #232323;
}

.button-2 span {
	position: relative;
}

.button-2:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 100%;
	background: rgba(233, 185, 144, 0.904);
	transition: .3s ease-in-out;
}

.button-2:hover:before {
	width: 100%;
}

.container__footer {
	height: 210px;
	background-color: rgba(233, 185, 144, 0.904);
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.logo__bottom-right {
	margin-right: 50px;
}

.link__logo_red {
	color: red;
}

.logo__bottom {
	display: flex;
	align-items: center;
	margin-right: 40px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}